@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

:root {
  --color-blue: #0038a8;
  --color-bg: #f6f4ef;
  --color-black: #1f1f1f;
  --color-red: #d93025;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: "hidden";
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
  font-family: "Martian Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: transparent;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
